.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pane {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
}

.pane-left {
  width: 40%;
  min-width: 400px;
}

.pane-middle {
  width: 35%;
  min-width: 350px;
}

.pane-right {
  width: 25%;
  min-width: 250px;
  background-color: #fafafa;
}

.map-wrapper {
  flex: 1;
  position: relative;
}


